MSSQL_SA_PASSWORD=
MSSQL_NEO4J_SETUP_READER_USERNAME=
MSSQL_NEO4J_SETUP_READER_PASSWORD=
MSSQL_DBGATE_READER_USERNAME=
MSSQL_DBGATE_READER_PASSWORD=

OLLAMA_LLM=
OLLAMA_EMBEDDING=

NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_HTTP_PORT=
NEO4J_BOLT_PORT=

DBGATE_PORT=

STREAMLIT_PORT=